body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.commentBox {
  display: block;
  height: 200px;
  outline: 2px solid black;
}

.videoBox {
  width: 80%;
  margin-left: 10%;
  height: 700px;
  display: block;
}

.videoFrame {
  display: block;
  min-height: 500px;
}
