<div class="signinButton" ng-click='video.openSignin()'>Signin</div>
<div class="newPostButton" ng-click='video.openModal()' ng-if='video.admin'></div>
<div class="postModal" ng-if='video.videoOpen'>
  <input type="text" name="name" placeholder="video embed code" class='modalInput postEmbedCode'>
  <input type="text" name="name" placeholder="Title" class='postTitle modalInput'>
  <input type="text" name="name" placeholder="Description" class='postDescription modalInput'>
  <input type="button" name="name" value="Submit" class='postSubmit' ng-click='video.submitPost()'>
</div>
<div class="signinModal" ng-if='video.signinToggle'>
  <div class="signinBox">
    <input type="text" name="username" placeholder='Username' class='signinUsername modalInput'>
    <input type="text" name="password" placeholder='Password' class='signinPassword modalInput'>
    <div class="signinSubmit" ng-click='video.signinNewUser()'>
      Sign In
    </div>
  </div>
</div>
<h2>The Skate Feed</h2>

<div class="videoBox videoBox{{$index}}" ng-repeat='data in video.allPosts'>
  <h2 class='videopostTitle' ng-click='video.goToSingle(data._id)'>{{data.title}}</h2>
  <iframe enablejsapi="1" class='videoFrame' width='100%' id='video{{$index}}'
    src="" allowfullscreen>
  </iframe>
  <div class="testRep2" ng-repeat='data2 in video.allComments[$index]'>
    {{data2.content}}
  </div>
  <input type="text" name="commentText" class='newComment newComment{{$index}}'>
  <button type="button" id='{{data._id}}' class='addComment addComment{{$index}}' ng-click='video.addComment($event, $index)'>Add Comment</button>
</div>
