<div class="signinButton" ng-if='!video.signedInUser'>
  <span ng-click='video.openSignin()'>Signin</span>/
  <span ng-click='video.openSignup()'>Signup</span>
</div>
<div class="signinButton" ng-if='video.signedInUser'>
  <span ng-click='video.signOut()'>Logout</span>
</div>
<div class="newPostButton" ng-click='video.openModal()' ng-if='video.admin'>
  Add New Video</div>
<div class="postModal" ng-if='video.videoOpen'>
  <input type="text" name="name" placeholder="video embed code" class='modalInput postEmbedCode'>
  <input type="text" name="name" placeholder="Title" class='postTitle modalInput'>
  <input type="text" name="name" placeholder="Description" class='postDescription modalInput'>
  <input type="button" name="name" value="Submit" class='postSubmit' ng-click='video.submitPost()'>
</div>
<div class="signinModal" ng-if='video.signinToggle'>
  <div class="signinBox">
    <input type="text" name="username" placeholder='Username' class='signinUsername modalInput'>
    <input type="text" name="password" placeholder='Password' class='signinPassword modalInput'>
    <input type="text" name="adminpassword" placeholder='Admin Password' class='signinAdminPassword modalInput' ng-if='video.addAdminPW'>
    <div class="signinSubmit" ng-click='video.signinNewUser()'>
      Sign In
    </div>
    <h4 ng-click='video.addAdminField()' class='signinAdminToggle'>Admin?</h4>
  </div>
</div>
<div class="signupModal" ng-if='video.signupModalToggle'>
  <div class="signinBox">
    <input type="text" name="username" placeholder='Username' class='signupUsername modalInput'>
    <input type="text" name="password" placeholder='Password' class='signupPassword modalInput'>
    <input type="text" name="adminpassword" placeholder='Admin Password' class='signupAdminPassword modalInput' ng-show='video.addAdminPW'>
    <div class="signinSubmit" ng-click='video.submitSignup()'>
      Sign Up
    </div>
    <h4 ng-click='video.addAdminField()' class='signinAdminToggle'>Admin?</h4>
  </div>
</div>
<h2>The Skate Feed</h2>

<div class="videoBox videoBox{{$index}}" ng-repeat='data in video.allPosts'>
  <h2 class='videopostTitle' ng-click='video.goToSingle(data._id)'>{{data.title}}</h2>
  <iframe enablejsapi="1" class='videoFrame' width='100%' id='video{{$index}}'
    src="" allowfullscreen>
  </iframe>
  <div class="testRep2" ng-repeat='data2 in video.allComments[$index]'>
    {{data2.content}}
  </div>
  <input type="text" name="commentText" class='newComment newComment{{$index}}' ng-if='video.signedInUser'>
  <button type="button" id='{{data._id}}' class='addComment addComment{{$index}}' ng-click='video.addComment($event, $index)' ng-if='video.signedInUser'>Add Comment</button>
</div>
