<h2>The Skate Feed</h2>

<div class="videoBox videoBox{{$index}}" ng-repeat='data in video.test1'>
  In the first repeat
  {{data}}
  <iframe enablejsapi="1" class='videoFrame' width='100%' id='video{{$index}}'
    src="" allowfullscreen>
  </iframe>
  <div class="testRep2" ng-repeat='data2 in video.test2'>
    In the Second
    {{data2}}
  </div>
  <input type="text" name="name" class='newComment newComment{{$index}}'>
  <button type="button" class='addComment addComment{{$index}}' ng-click='video.addComment($index)'>Add Comment</button>
</div>


<!--
<div class="videoDash">
  <div class="videoBox videoBox{{$index}}" ng-repeat='video in video.hellYea track by $index'>
    <iframe enablejsapi="1" class='videoFrame' width='100%' id='video{{$index}}'
      src="" allowfullscreen>
    </iframe>
    <div class="commentBox" ng-repeat='comment in video.seedComments'>
      {{comment}}
      looo
    </div>
  </div>
</div> -->
